<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>前端</string>
	</array>
	<key>createMarkedFile</key>
	<integer>0</integer>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>前端</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>createMarkedFile</key>
		<real>497001524</real>
		<key>sheetClusters</key>
		<dict>
			<key>Bootstrap.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>499075180.00823998</real>
				<key>lastModification</key>
				<real>499075180.00823998</real>
				<key>version</key>
				<dict>
					<key>af24fb610112b9f885e0594b2c156750adf7152e2d89950e53acf014473bcfec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>CSS.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>499075180.00826299</real>
				<key>lastModification</key>
				<real>499075180.00826299</real>
				<key>version</key>
				<dict>
					<key>af24fb610112b9f885e0594b2c156750adf7152e2d89950e53acf014473bcfec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>GEM.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Q &amp; A.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Ruby on Rails.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Ruby.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>controller内 render的用法.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>499075180.00825101</real>
				<key>lastModification</key>
				<real>499075180.00825101</real>
				<key>version</key>
				<dict>
					<key>af24fb610112b9f885e0594b2c156750adf7152e2d89950e53acf014473bcfec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>javascript.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>499075180.008277</real>
				<key>lastModification</key>
				<real>499075180.008277</real>
				<key>version</key>
				<dict>
					<key>af24fb610112b9f885e0594b2c156750adf7152e2d89950e53acf014473bcfec</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>validates.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>如何制作站内提醒.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>如何在heroku上上传图片以及如何隐藏key.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>如何新增页面.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>学到的东西.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>安装框架.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>跟着僵尸学rails.md</key>
			<dict>
				<key>lastModification</key>
				<real>497001524</real>
				<key>version</key>
				<dict>
					<key>legacy-497001524.000000</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>Bootstrap.md</string>
		</array>
		<array>
			<string>controller内 render的用法.md</string>
		</array>
		<array>
			<string>CSS.md</string>
		</array>
		<array>
			<string>GEM.md</string>
		</array>
		<array>
			<string>javascript.md</string>
		</array>
		<array>
			<string>Ruby on Rails.md</string>
		</array>
		<array>
			<string>Ruby.md</string>
		</array>
		<array>
			<string>学到的东西.md</string>
		</array>
		<array>
			<string>validates.md</string>
		</array>
		<array>
			<string>跟着僵尸学rails.md</string>
		</array>
		<array>
			<string>如何制作站内提醒.md</string>
		</array>
		<array>
			<string>如何在heroku上上传图片以及如何隐藏key.md</string>
		</array>
		<array>
			<string>如何新增页面.md</string>
		</array>
		<array>
			<string>安装框架.md</string>
		</array>
		<array>
			<string>Q &amp; A.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>af24fb610112b9f885e0594b2c156750adf7152e2d89950e53acf014473bcfec</key>
			<integer>1</integer>
		</dict>
		<key>createMarkedFile</key>
		<dict>
			<key>af24fb610112b9f885e0594b2c156750adf7152e2d89950e53acf014473bcfec</key>
			<integer>1</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>af24fb610112b9f885e0594b2c156750adf7152e2d89950e53acf014473bcfec</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
